{% extends 'base.html' %}

{% block content %}

    <form class="form-horizontal" action="{% url 'apps.blog:update_post' thread_id %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Edit this post</legend>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="first_name" class="col-lg-2 control-label">Title</label>

                        <div class="col-lg-10">
                            {{ form.title }}
                            {% for error in form.title.errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <label for="about_me" class="col-lg-2 control-label">Content</label>

                <div class="col-lg-10">
                    {{ form.content }}
                    {% for error in form.content.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    <a class="btn btn-primary" href="{% url 'apps.blog:post' thread_id %}">View your post</a>
                </div>
            </div>

        </fieldset>
    </form>

{% endblock %}